* {
  box-sizing: border-box;
}

:root {
  --font-stack: "Overpass", system-ui, -apple-system, sans-serif;
  --text-color: #f5f5f5;
  --meta-color: rgba(255, 255, 255, 0.75);
  --color-bg: #151515;
  --color-red: #E03021;
  --color-link: dodgerBlue;
  --color-default: #ddd;
  --color-mid: #6f6f6f;
  --color-dim: #333;
  --color-vdim: #2f2f2f;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-stack);
  background: var(--color-bg);
  color: var(--color-default);
  line-height: 1.6;
  font-feature-settings: "ss02" 1;
}

a {
  color: var(--color-link);
  text-decoration: none;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

h1 {
  margin-top: 0;
  margin-bottom: 1rem;
}

.content {
  margin-top: 2rem;
}

.meta {
  color: var(--color-mid);
}

main {
  padding: 2rem 5rem;
  width: 100%;
  max-width: 850px;
  margin: 0px auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid var(--color-red);
  padding: 0.5rem 0;
}

nav .links a {
  padding: 0px 1rem;
}

nav h2 {
  margin: 0;
  color: var(--color-dim);
}
